{% extends "Theme.twig" %}

{% block page_title %}
    <title>Subscription confirmed</title>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li>
            <a href="/">Home</a>
        </li>
        <li class="active">
            Subscription confirmed
        </li>
    </ul>
{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1>
            <span class="text-success glyphicon glyphicon-check"></span>
            Subscription confirmed
        </h1>

        <p class="lead">
            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras mattis consectetur purus sit amet
            fermentum. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        </p>
    </div>

{% endblock %}

{% block javascripts %}{% endblock %}
